main p{
    align-content: center;
    color: rgb(238, 67, 67);
    font-family: 'Times New Roman', Times, serif;
}
main h3{
    font-size: 2rem;
}
main span{
    color: rgb(137, 35, 35);
}
main .box{
    display: flex;
    justify-content: space-evenly;
}
@media (max-width:425px){
    main .box{
        flex-wrap: wrap;
    }
}
main .b{
    width: 400px;
    border: 2px solid black;
    border-radius: 25px;
      padding: 10px;
    margin: 10px;
}

main img{
    width: 100%;
    border-radius: 25px;
}